Button {
    background-image: url('project://database/Assets/DepthOfDarkness/Textures/UI/MainMenu/btn_default.png?fileID=2800000&guid=fe08f87b2613092c192eeb8237a45304&type=3#btn_default');
}

Button:hover {
    background-image: url('project://database/Assets/DepthOfDarkness/Textures/UI/MainMenu/btn_hover.png?fileID=2800000&guid=262367b8f491e28c1b2c9571bb475ddf&type=3#btn_hover');
}

#RootDiv {
    left: 200%;
    transition: left 12s ease-in;
}

#RootDiv.animate {
    left: 0;
}
